img {
    width: 160px;
}

/** {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #1b1b1b;
}

.header {
    background-color: #1b1b1b;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}